
        :root {
            /* Color */
            --white-color: rgb(255, 255, 255);
            --yellow-color: rgb(255, 213, 0);
            --warm-grey-color: rgb(165, 165, 165);
            --black-color: rgb(0, 0, 0);


            /* Size */
            --side-padding: 10px;

            /* Font Size */
            --font-large: 2rem;
            --font-medium: 1.5rem;
            --font-small: .7rem;
            --font-x-small: .4rem;
        }

        * {
            height: auto;
        }

        body{
            margin:0px;
            padding:10px;
            background: black;
            color:#000;
            padding: 10px;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            text-transform: lowercase;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: small;
            align-items: center;
            }
            

        #navigate {
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            flex-direction: row;
            align-items: center;
            justify-content:center;
            align-content: center;
            align-self: center;
            flex-basis: auto;
        }



        #title {
            text-align: center;
            color: white;
            font-size: 15px;
        }


        #thoughts {
            font-style: italic;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            color: white;
            font-size: small;
        }

        .A {
            background-color: black;
            border-style: solid;
            color: var(--yellow-color);
            border-width: 1px;
            padding: 7px;
            border-color: var(--yellow-color);
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .A:hover {
            color:black;
            text-decoration: none;
            background-color: var(--yellow-color);
        }
        
        .A:link {
            text-decoration: none;
          }
        
        .A:visited {
            text-decoration: none;
        }
        

        pre{
            font-size: 5px;
            font: Georgia, sans-serif; 
            line-height:7px;
        }

        .E {
            text-decoration: none;
        }